.row
  .col-sm-4
    = render @blog.user
  .col-sm-8
    .panel.panel-default
      .panel-body
        %h1= @blog.title
        = @blog.content.html_safe
        - if user_signed_in? && @blog.user_id == current_user.id
          %hr/
          .pull-right
          = link_to edit_blog_path(@blog ), class: 'btn btn-default btn-xs' do
            %i.fa.fa-pencil
            = t('action_button.edit')
          = link_to blog_path(@blog ), class: 'btn btn-default btn-xs', method: :delete do
            %i.fa.fa-trash