.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = yield :form_title
  .panel-body
    = simple_form_for(@attachment) do |f|
      = f.error_notification

      .form-inputs
        = f.input :title
        = f.input :description
        = f.input :file
        = f.association :attachment_category, include_blank: false

      .form-actions
        = f.button :submit, class: 'btn btn-default'
        = link_to t('cancel'), attachments_path, class: 'btn'
