.row
  .col-sm-8
    = render_activities(@activities)
    = will_paginate @activities, page_links: false, renderer: BootstrapPagination::Rails, bootstrap: 3
  .col-sm-4
    .row
      .col-sm-12
        -#.panel.panel-default
        -#  .panel-heading
        -#    Last Topics
        -#  .panel-body
        -#    - Topic.where('forum_id IS NOT NULL').order('id DESC').limit(10).each do |topic|
        -#      %p= link_to topic.name, forum_topic_posts_path(topic.forum, topic)
      .col-sm-12
        .panel.panel-default
          .panel-heading
            Last Blog Posts
          .panel-body
            - Blog.order('id DESC').limit(10).each do |blog|
              %p= link_to blog.title, user_blog_path(blog.user, blog)
      .col-sm-12
        .panel.panel-default
          .panel-heading
            Last Users
          .panel-body
            - User.order('id DESC').limit(10).each do |user|
              = link_to user_path(user) do
                = image_tag user.avatar.url(:micro_thumb)